<h3>Current Date and Time</h3>

<p>The current Date is: @now</p>
<p>The current Date is: @GetLocalDate()</p>
<p>The current Date is: @GetLocalTime()</p>

@code {
	private DateTime now;

	protected override void OnInitialized()
	{
		now = DateTime.Parse("2023-10-02 08:43:00 PM");
		base.OnInitialized();
	}

	protected override Task OnInitializedAsync()
	{
		now = DateTime.Now;
		return base.OnInitializedAsync();
	}

	private string GetLocalDate()
	{
		return now.ToString("MMMM dd, yyy");
	}

	private string GetLocalTime()
	{
		return now.ToString("hh:mm tt");
	}
}
