@page "/"

@*Link to the CurrentDateTime page*@
@* This is from the Current date time page in the samples folder. Because it doesn thave the same namespace we have to use the @using witht eh full path*@
@using BlazorSampleApp.Pages.Samples
<CurrentDateTime />

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<SurveyPrompt Title="How is Blazor working for you?" />
